<ngx-loading-bar [height]="'4px'" [includeSpinner]="false"></ngx-loading-bar>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">




    <i class="fa fa-bars" (click)="opened=!opened"><mat-sidenav-container>
      <mat-sidenav mode="over" [(opened)]="opened">
        <div sidenavoption>
          <ul class="side-list">
            <li>
              <a href="#"><i class="fa fa-user-circle-o"></i> profile</a>
            </li>
            <hr>
            <li>
              <a routerLink="academicinfo"> <i class="fa fa-info-circle"></i> Administration Info</a>
            </li>
            <hr>
            <li>
              <a href="#"><i class='fa fa-address-card'></i> About Us</a>
            </li>
            <hr>
            <li>
              <a href="#"> <i style="margin: 0.5rem;" class="material-icons">&#xe0ba;</i> Contact Us</a>
            </li><hr>
            <li>
              <a href="#"> <i class="fa fa-question-circle"></i> Help</a>
            </li>
            <hr>
            <li>
              <i class="fa fa-power-off"></i><button mat-raised-button color="warn" (click)="onLogout()"  >Log Out</button>
            </li>
          </ul>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        
        <!-- <button id="moreBtn" mat-raised-button (click)="opened=!opened">More </button> -->
      </mat-sidenav-content>
    
    </mat-sidenav-container></i>






    <a class="navbar-brand" id="navbartext" href="#">PetitionISM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" id="navlinktext" routerLink="petition">Write Petition</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" id="navlinktext" routerLink="petitionlist">Petition List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" id="navlinktext" routerLink="home">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<div id="screen">

<!-- <div class="container"> -->

  <router-outlet></router-outlet>
<!-- </div>S -->
</div>
<!-- <div class="footer-section">
  <p>Copyright by Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt iusto, cupiditate </p>
</div> -->


